@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shape-outer {
  display: flex;
  flex-shrink: 0;
  height: 94vh;
  width: 94vw;
  margin:0;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 1);
}
.App{
  width: 100vw;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
  /* background-color: #ff3cac; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.bevel {
  -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
      clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
}
.section2{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, rgba(198,198,198,1) 0%, rgba(201,201,201,1) 50%, rgba(249,249,249,1) 50%, rgba(255,255,255,1) 100%);

}



.shape-inner {	
  height: calc(100% - 4px);
  width: calc(100% - 4px);
background-color: white;
  background-size: cover;
  margin: auto;
  display: flex;
}

.frame{
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle{
  height: 92vh;
  width: 92vw;
  margin:0;
  border: 2px solid rgba(128, 128, 128, 1);
  position: absolute;
}
.absolute-container{
  width: 100vw;
  /* background-color: aqua; */
  height: 100vh;
  position: absolute;
  left: -3vw;
  right: 0;
}
.rectangle-small{
  height: 92vh;
  width: 92vw;
  margin:0;
  background: linear-gradient(270deg, rgba(198,198,198,1) 0%, rgba(201,201,201,1) 50%, rgba(249,249,249,1) 50%, rgba(255,255,255,1) 100%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle-inside{
  height: calc(92vh - 4px);
  width: calc(92vw - 4px);
  margin:0;
  background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 50%, rgba(201,201,201,1) 50%, rgba(198,198,198,1) 100%);

}

.white{
  background-color: transparent !important;
}
.shape-inner-small {	
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 50%, rgba(201,201,201,1) 50%, rgba(198,198,198,1) 100%);
    background-size: cover;
    margin: auto;
    display: flex;
  }
@keyframes example {
  0%   {background-color: transparent;}
  100%  {background-color: white;}
}
.overlay{
  width: 80px;
  height: 80px;
  position: absolute;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.logo{
  width: 80px;
  height: 80px;
 
}
.title{
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  top: 5%;
  height: fit-content;
  background-color: white;
}
.name{
  width:15vw;
  height: 100%;
  margin: 0;
  display: flex;
  height: 80px;
  font-family: 'Montserrat', sans-serif;
}
.left{
  justify-content: flex-end;
  padding-right: 10px;

}
.pequeno h3{
  font-size: 1.4vw !important;

}
.pequeno{
  margin-top: 5% !important;
}
.right{
  text-align: left;
  padding-left: 10px;
  align-items: flex-end;
}

.rsvp-container{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 
}

.shape-outer-small {
  display: flex;
  flex-shrink: 0;
  height: 94vh;
  width: 94vw;
  margin:0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, rgba(198,198,198,1) 0%, rgba(201,201,201,1) 50%, rgba(249,249,249,1) 50%, rgba(255,255,255,1) 100%);
}

.rsvp{
  height:94vh;
  width: 44vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c6c6c6;
  position: absolute;
}

.button{
  outline: none !important;
  cursor: pointer;
  border: none;
 width:20vw;
 text-transform: uppercase;
 font-family: 'Montserrat', sans-serif;
 margin-left: 2%;
 margin-right: 2%;
 border: 3px solid rgba(60, 60, 60, 1);
 color: rgba(60, 60, 60, 1);
 background-color: transparent;
 letter-spacing: 1.5px;
 transition: all 1s;

}

button:disabled,
button[disabled]{
  cursor: not-allowed;

 opacity: 0.5;
}
.button2{
  outline: none !important;
  cursor: pointer;
  border: none;
 width:20vw;
 text-transform: uppercase;
 font-family: 'Montserrat', sans-serif;
 color: white;
 background-color: rgba(60, 60, 60, 1);
 letter-spacing: 1.5px;
 transition: all 1s;

}
.button2:hover{
  border: 3px solid rgba(60, 60, 60, 1);
  background-color: transparent;
  color: rgba(60, 60, 60, 1);;
}
.button-small{
  outline: none !important;
  cursor: pointer;
 padding-left: 40px;
 padding-right: 40px;
 text-transform: uppercase;
 font-family: 'Montserrat', sans-serif;
 margin-left: 2%;
 margin-right: 2%;
 background-color: rgba(60, 60, 60, 1);
  color: white;
  letter-spacing: 1.5px;

}

.accept{
  background-color: rgba(60, 60, 60, 1);
  color: #c6c6c6;
  letter-spacing: 1.5px;
}

.decline{
  border: 3px solid rgba(60, 60, 60, 1);
  color: rgba(60, 60, 60, 1);
  background-color: transparent;
  letter-spacing: 1.5px;
}

.button:hover:not([disabled]){
  background-color: rgba(60, 60, 60, 1) !important;
  color: #c6c6c6;
  border: 0px solid rgba(60, 60, 60, 1);
  letter-spacing: 1.5px;
}

.active{
  transition: all 1s;
  background-color: rgba(60, 60, 60, 1) !important;
  color: #c6c6c6;
  border: 0px solid rgba(60, 60, 60, 1);
  letter-spacing: 1.5px; 
}
.button-container{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.invitado{
  width: 100%;
 
}
.invitado h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 4vw;
  color: rgba(87, 87, 87, 1);

}

.invitado h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2vw;
  margin-top: 10vh;
  margin-bottom: 2vh;
  color: rgba(60, 60, 60, 1);

}

.invitado a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 2vw;
  cursor: pointer;
  border-bottom: 3px solid rgba(60, 60, 60, 1);;
  padding-bottom: 1vh;
  margin-top: 5vh;
  margin-bottom: 2vh;
  opacity: 1;
  transition: all 1s;
  color: rgba(60, 60, 60, 1);
  margin-top: 2vh;
  margin-bottom: 2vh;

}


.invitado h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 1vw;
  margin-bottom: 2vh;
  opacity: 1;
  transition: all 1s;
  color: rgba(60, 60, 60, 1);
  margin-top: 2vh;
  margin-bottom: 2vh;

}

.invitado h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 2vw;
  margin-top: 5vh;
  margin-bottom: 2vh;
  opacity: 1;
  transition: all 1s;
  color: rgba(60, 60, 60, 1);
  margin-top: 4vh;
  margin-bottom: 2vh;

}

.invitado a:hover{
  opacity: 0.5;
}
.invite-container{
  width: 100vw;
  overflow: hidden;
  flex-direction: column;
  /* background-color: #ff3cac; */
  display: flex;
  justify-content: center;
  align-items: center;
 height: 100vh;

}

.invite{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.logo-big{
  width: 8vw;
  height: 8vw;
  position: absolute;
  top: 4%;
}

.papas-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.invitar{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5%;
}

.sin-margen{
  margin-top: 0;
}

.invitar h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1.7vw;
  color: rgba(112, 112, 112, 1);
}

.novios h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 4vw;
  color: rgba(87, 87, 87, 1);
}

.novios{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.papas h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1.7vw;
  color: rgba(112, 112, 112, 1);
}

.con-margen{
  position: absolute;
  bottom:5%;
}

.papas h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1.4vw;
  color: rgba(112, 112, 112, 1);
}

.invitado-contenedor{
position: absolute;
width:95%;
}

.loader-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}



select{
  outline: none !important;
  cursor: pointer;
  border: none;
  margin-top: 3%;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: 1.5vw;
 text-transform: uppercase;
 font-family: 'Montserrat', sans-serif;
 margin-left: 2%;
 margin-right: 2%;
 border: 3px solid rgba(60, 60, 60, 1);
 background-color: transparent;
  color: rgba(60, 60, 60, 1);
  letter-spacing: 1.5px; 
  margin-bottom: 3%;
}

.mitad{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-container{
  width: 100%;
  height: 100vh;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.message{
  width:40vw;
  height: 40vh;
  background-color: white;
  display: flex;
  padding: 2vw;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 1.2vw;
  color: rgba(60, 60, 60, 1);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.message-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(198,198,198,0.7);
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}
.visible {
  opacity: 1;
  visibility: visible;
  transition: all 1s;
  }
@media screen and (max-width: 600px) {
  .section2{
    flex-direction: column;
    height: 200vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(198,198,198,1) 0%, rgba(201,201,201,1) 50%, rgba(249,249,249,1) 50%, rgba(255,255,255,1) 100%);

  }

  .con-margen{
    bottom: 2%;
  }

  .message{
    width:90vw;
    height: 50vh;
    background-color: white;
    display: flex;
    padding: 2vw;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 3.5vw;
    color: rgba(60, 60, 60, 1);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  .rsvp-container{
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
  }
  .shape-outer-small {
    display: flex;
    flex-shrink: 0;
    height: 188vh;
    width: 94vw;
    margin:0;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    background: linear-gradient(0deg, rgba(198,198,198,1) 0%, rgba(201,201,201,1) 50%, rgba(249,249,249,1) 50%, rgba(255,255,255,1) 100%);
  }

.full{
  width: 100% !important;
}
.frame-container{
  margin-top: 6vh;
  justify-content: center;
  align-items: flex-start;

}
  .rsvp{
    width: 100vw;
    margin-top: 0vh;
    height: 100vh;
  }
  .invitado-contenedor{
    width:85% !important;
  }
  .mitad{
    width: 100vw;
  }
.button{
  margin-left: 0;
  margin-right: 0;
}
  .button2{
    width: 80vw;
  }

.second{
  align-items: center;
  /* margin-top: 3vh; */
  top: -45vh;
}
  .absolute-container{
    width: 100vw;
    /* background-color: aqua; */
    height: 200vh;
    position: absolute;
    left: 0vw;
    top: -3vh;
    right: 0;
  }
  .rectangle-small{
    height: 184vh;
    width: 90vw;
    margin:0;
    background: linear-gradient(0deg, rgba(198,198,198,1) 0%, rgba(201,201,201,1) 50%, rgba(249,249,249,1) 50%, rgba(255,255,255,1) 100%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    
  }
  .rectangle-inside{
    height: calc(184vh - 4px);
    width: calc(90vw - 4px);
    margin:0;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 50%, rgba(201,201,201,1) 50%, rgba(198,198,198,1) 100%);
  
  }
  
  .white{
    background-color: transparent !important;
  }
  .shape-inner-small {	
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 50%, rgba(201,201,201,1) 50%, rgba(198,198,198,1) 100%);
      background-size: cover;
      margin: auto;
      display: flex;
    }
  .rectangle{
    width: 90vw;
  }



  .button{
    width: 80vw;
  }
  .logo-big{
    width: 20vw;
    height: 20vw;
    top:1%;
    
  }

  .papas h3{
    font-size: 3.4vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
    height:10vw;
  
  }

  .invite{
    width:85vw;
  }

  .invitar h3{
    font-size: 3.7vw;
  }
  .novios h1{
    margin-top: 8vw;
    margin-bottom: 8vw;
    font-size: 7.9vw;
  }
  .papas h4{
    font-size: 3.3vw;
  }
  .invitado{
    width: 85%;
  }
  .invitado h1{
    font-size: 8vw;
    margin-bottom: 5vw;
  }

  .invitado h2{
    font-size: 3vw;
   
  }

  .invitado a{
    font-size: 5vw;
   
  }

  .invitado h4{
    font-size: 2vw;
   
  }
  .invitado h3{
    font-size: 5vw;
   
  }

  .pequeno h3{
    font-size: 3.5vw !important;
    margin-top: 10vw;
  }
  select{
    font-size: 3.5vw;
    margin-top: 5vw;
  }
.button-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .button{
    font-size: 3vw;
    margin-top: 5vw;
  }
}

@media screen and (max-width: 370px) {
  .section2{
    flex-direction: column;
    height: 200vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(198,198,198,1) 0%, rgba(201,201,201,1) 50%, rgba(249,249,249,1) 50%, rgba(255,255,255,1) 100%);

  }
  .rsvp{
    width: 100vw;
  }
  .rsvp-container{
    width: 100vw;
  }
.invitado-contenedor{
  width:85% !important;
}
  .mitad{
    width: 100vw;
  }

  .button2{
    width: 80vw;
  }

  .rectangle-small{
    width: 90vw;

  }

  .rectangle{
    width: 89vw;
  }

  .shape-outer-small {
    width: 94vw;

  }

  .button{
    width: 80vw;
  }
  .logo-big{
    width: 15vw;
    height: 15vw;
    top:3%;
  }

  .papas h3{
    font-size: 3.5vw;
    margin-bottom: 3vw;
    margin-top: 3vw;
    height:8vw;
  
  }

  .invite{
    width:85vw;
  }

  .invitar h3{
    font-size: 3.8vw;
  }
  .novios h1{
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 8vw;
  }
  .papas h4{
    font-size: 3.3vw;
  }
  .invitado h1{
    font-size: 8vw;
    margin-bottom: 5vw;
  }

  .pequeno h3{
    font-size: 3.5vw !important;
    margin-top: 10vw;
  }
  select{
    font-size: 3.5vw;
    margin-top: 5vw;
  }
.button-container{
  flex-direction: column;
}
  .button{
    font-size: 3vw;
    margin-top: 5vw;
  }
}