@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shape-outer {
  display: flex;
  flex-shrink: 0;
  height: 94vh;
  width: 94vw;
  margin:0;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 1);
}
.App{
  width: 100vw;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
  /* background-color: #ff3cac; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.bevel {
  -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
      clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
}

.shape-inner {	
  height: calc(100% - 0.5px);
  width: calc(100% - 0.5px);
background-color: white;
  background-size: cover;
  margin: auto;
  display: flex;
}

.frame{
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle{
  height: 92vh;
  width: 92vw;
  margin:0;
  border: 0.5px solid rgba(128, 128, 128, 1);
  position: absolute;
}

.rectangle-small{
  height: 62vh;
  width: 62vw;
  margin:0;
  border: 0.5px solid white;
  position: absolute;
}

.shape-inner-small {	
  height: calc(100% - 0.5px);
  width: calc(100% - 0.5px);
background-color: #c6c6c6;
  background-size: cover;
  margin: auto;
  display: flex;
}

.logo{
  width: 80px;
  height: 80px;
}
.title{
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  top: 5%;
  height: fit-content;
  background-color: white;
}
.name{
  width:15vw;
  height: 100%;
  margin: 0;
  display: flex;
  height: 80px;
  font-family: 'Montserrat', sans-serif;
}
.left{
  justify-content: flex-end;
  padding-right: 10px;

}
.pequeno h3{
  font-size: 1.4vw !important;

}
.pequeno{
  margin-top: 5% !important;
}
.right{
  text-align: left;
  padding-left: 10px;
  align-items: flex-end;
}

.rsvp-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 
}

.shape-outer-small {
  display: flex;
  flex-shrink: 0;
  height: 65vh;
  width: 64vw;
  margin:0;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.rsvp{
  height:94vh;
  width: 94vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c6c6c6;
  position: absolute;
}

.button{
  outline: none !important;
  cursor: pointer;
  border: none;
 width:20vw;
 text-transform: uppercase;
 font-family: 'Montserrat', sans-serif;
 margin-left: 2%;
 margin-right: 2%;
 border: 3px solid rgba(60, 60, 60, 1);
 color: rgba(60, 60, 60, 1);
 background-color: transparent;
 letter-spacing: 1.5px;

}
.button-small{
  outline: none !important;
  cursor: pointer;
 padding-left: 40px;
 padding-right: 40px;
 text-transform: uppercase;
 font-family: 'Montserrat', sans-serif;
 margin-left: 2%;
 margin-right: 2%;
 background-color: rgba(60, 60, 60, 1);
  color: white;
  letter-spacing: 1.5px;

}

.accept{
  background-color: rgba(60, 60, 60, 1);
  color: #c6c6c6;
  letter-spacing: 1.5px;
}

.decline{
  border: 3px solid rgba(60, 60, 60, 1);
  color: rgba(60, 60, 60, 1);
  background-color: transparent;
  letter-spacing: 1.5px;
}

.button:hover{
  background-color: rgba(60, 60, 60, 1) !important;
  color: #c6c6c6;
  letter-spacing: 1.5px;
}
.button-container{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.invitado{
  width: 100%;
 
}

.invitado h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 4vw;
  color: rgba(87, 87, 87, 1);

}
.invite-container{
  width: 100vw;
  overflow: hidden;
  flex-direction: column;
  /* background-color: #ff3cac; */
  display: flex;
  justify-content: center;
  align-items: center;
 height: 100vh;

}

.invite{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.logo-big{
  width: 8vw;
  height: 8vw;
  position: absolute;
  top: 4%;
}

.papas-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.invitar{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5%;
}

.sin-margen{
  margin-top: 0;
}

.invitar h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1.7vw;
  color: rgba(112, 112, 112, 1);
}

.novios h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 4vw;
  color: rgba(87, 87, 87, 1);
}

.novios{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.papas h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1.7vw;
  color: rgba(112, 112, 112, 1);
}

.con-margen{
  position: absolute;
  bottom:5%;
}

.papas h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1.4vw;
  color: rgba(112, 112, 112, 1);
}

.invitado-contenedor{
position: absolute;
}

select{
  outline: none !important;
  cursor: pointer;
  border: none;
  margin-top: 3%;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: 1.5vw;
 text-transform: uppercase;
 font-family: 'Montserrat', sans-serif;
 margin-left: 2%;
 margin-right: 2%;
 border: 3px solid rgba(60, 60, 60, 1);
 background-color: transparent;
  color: rgba(60, 60, 60, 1);
  letter-spacing: 1.5px; 
  margin-bottom: 3%;
}